[Desktop Entry]
Name=sfwbar (Two-Row Mode)
Comment=Bottom sfwbar 2-row dock
Exec=/home/naranyala/.local/bin/toggle-shell tworow
Type=Application
Terminal=false
Categories=System;
OnlyShowIn=LXQt;
