body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent;
    color: #ddca9e;
}

#bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(40, 40, 40, 0.8);
    padding: 2px 10px;
    height: 30px;
    font-size: 14px;
}

#left, #center, #right {
    display: flex;
    align-items: center;
    gap: 10px;
}

#workspaces {
    display: flex;
    gap: 5px;
}

#clock {
    font-weight: bold;
}
